/* body {
    background-image: url("../../wemes_bg_\ ffc007.png");
    background-size: 600px;
}  */

.background-doodle {
    background-image: url("../../wemes_bg_\ ffc007.png");
    background-size: 600px;
    width: 100vw;
    height: 100vh;
} 